
<!-- Wine Heading -->
<div class="row">
    <div class="col-sm-6">
        <h1 class="page-header">{{wine.name}}
            <small>{{wine.country}}</small>
        </h1>
    </div>
</div>

<!-- Wine Edit Bar -->
<div class="row button-bar">
    <div class="col-sm-6">

        <!-- Edit/Cancel button -->
        <ng-switch on="isEditing">
            <button type="button" class="btn btn-primary"  ng-switch-when="false" ng-click="toggleEdit()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </button>
            <button type="button" class="btn btn-default"  ng-switch-when="true" ng-click="toggleEdit()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Cancel
            </button>
        </ng-switch>

        <!-- Save button -->
        <button type="button" class="btn btn-success" ng-if="isEditing" ng-click="saveWine()">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
        </button>

        <!-- Delete button -->
        <button type="button" class="btn btn-danger" ng-click="deleteWine()" ng-hide="isNew">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
    </div>
</div>

<!-- Wine Pane -->
<div class="row">

    <!-- Wine Image -->
    <div class="col-sm-3" ng-switch="wine.imageId">
        <img class="img-responsive" ng-src="../cxf/images/{{ wine.imageId  }}" ng-switch-default>
        <img class="img-responsive" ng-src="pics/generic.jpg" ng-switch-when="0">
    </div>

    <!-- Wine Details -->
    <div class="col-sm-3">
        <div class="row">

            <!-- Wine Description Text/TextEdit -->
            <h3>Description</h3>
                <ng-switch on="isEditing">
                    <p ng-switch-when="false">{{wine.description}}</p>
                    <textarea ng-switch-when="true" type="text" class="form-control"
                              ng-model="editedWine.description" rows="4"></textarea>
                </ng-switch>

            <!-- Wine Properties List/Text Inputs -->
            <h3>Details</h3>
            <form class="form-horizontal" role="form">
                <!-- Wine Id is just a text -->
                <div class="form-group">
                    <label class="col-sm-4 control-label">Id</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{wine.id}}</p>
                    </div>
                </div>

                <!-- The other Wine properties are text or Text Inputs -->
                <div class="form-group" ng-repeat="(key, value) in wine"  ng-if="key!='id' && key!='description' && key!='imageId'">
                    <label class="col-sm-4 control-label">{{key}}</label>
                    <div class="col-sm-8" ng-switch on="isEditing">
                        <p class="form-control-static" ng-switch-when="false">{{value}}</p>
                        <input ng-switch-when="true" type="text" class="form-control" ng-model="editedWine[key]">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>