
<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{wine.name}}
            <small>{{wine.country}}</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <img class="img-responsive" ng-src="../cxf/images/{{ wine.imageId  }}" alt="">
    </div>
    <div class="col-md-4">
        <h3>Description</h3>
        <p>{{wine.description}}</p>
        <h3>Details</h3>
        <ul>
            <li>Id: {{wine.id}}</li>
            <li>Name: {{wine.name}}</li>
            <li>Grapes: {{wine.grapes}}</li>
            <li>Country: {{wine.country}}</li>
            <li>Region: {{wine.region}}</li>
            <li>Year: {{wine.year}}</li>
        </ul>
    </div>
</div>